	<div class="container">
		<h1>Search#index</h1>
		<p>Find me in app/views/search/index.html.erb</p>

		<% @hotel_results.each do |f| %>
			<div class="list-group-item">

				<li><%= f.name %></li>
				<div style="float:right;">
					<%= link_to "Like It", "#", class:"btn btn-sm"%>
				</div>
			</div>

		<% end %>

	</div>