<div class="container">
	<div class="col-md-3">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @hotel.name %>
		</p>

		<p>
		  <strong>Address:</strong>
		  <%= @hotel.address %>
		</p>

		<p>
		  <strong>Rating:</strong>
		  <%= @hotel.rating %>
		</p>

		<p>
		  <strong>Rating count:</strong>
		  <%= @hotel.rating_count %>
		</p>

		<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
		<%= link_to 'Back', hotels_path %>

	</div>
	<div class="col-md-6">
		
	</div>
</div>


