<nav class="navbar navbar-default">
    <div class="container">

        <%= link_to "Hotel Share", root_path %>

        <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
                <li><%= link_to "Discover", new_hotel_path %></li>
                <li><%= link_to "People", new_event_path %></li>
                <li><%= link_to "Messages", new_event_path %></li>
                <li><%= link_to current_user.email, "#" %></li>   
                <li><%= link_to "Log out", destroy_user_session_path %></li>
            <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>

        </ul>


    </div>

</nav>
